@model SIS.Models.Data.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        @if (Model.Address != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Model.Address.Street1
                <br />
                @Model.Address.Street2
                <br />
                @Model.Address.City, @Model.Address.State.StateName, @Model.Address.PostalCode
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class="col-sm-10">
            @Model.Major.MajorName
        </dd>
        @if (Model.Courses != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Courses)
            </dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var course in Model.Courses)
                    {
                        <li>
                            @course.CourseName
                        </li>
                    }
                </ul>
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
